@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "row";
  src: url("/fonts/row.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  @apply font-row text-4xl font-semibold;
}

.pg {
  @apply mt-2 max-w-xl text-base text-gray-500;
}

input {
  @apply w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400;
}

textarea {
  @apply w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
