@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "row";
  src: url("/fonts/row.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  @apply font-row text-4xl font-semibold;
}

.pg {
  @apply mx-auto mt-2 w-full max-w-sm text-center text-gray-500 lg:max-w-xl lg:text-base;
}

input,
textarea {
  @apply w-full rounded-md border border-gray-300 bg-white px-3 py-2 placeholder-gray-400 hover:shadow-sm focus:bg-white focus:shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-200;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}


/* image in div with id content have max h of 96 */

#content img {
  @apply mx-auto my-4 rounded-lg w-full h-60 border p-2 border-gray-200 object-cover;
}

/* tiptal list styles and image and link */
.tiptap ul {
  @apply list-disc pl-4;
}

.tiptap ol {
  @apply list-decimal pl-4;
}

.tiptap li {
  @apply mb-1;
}

.tiptap img {
  @apply mx-auto my-4 rounded-lg w-full h-60 border p-2 border-gray-200 object-cover;
}

.tiptap a {
  @apply text-blue-500 underline;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
